@model ViewModels.AdminViewModel.Users.Vm_User;
@using pransa.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="fa">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    @if(menu.Title != null)
    {
    <meta name="author" content="@menu.Title">
    <meta name="description" content="@menu.Title">
    <meta name="keywords" content="@menu.Title">
    <title>@menu.Title</title>
    }
    else
    {
    <title>عنوان وب سایت شما</title>
    }
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/jquery.horizontalmenu.css">
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/materialdesignicons.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/colors/default.css" id="colorswitch">
    <link rel="icon" type="image/ico" href="~/fileupload/@menu.favicon" />
</head>
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>Profile-Additional-Info Page</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="./assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" href="./assets/css/vendor/nouislider.min.css">
    <!-- Font Icon -->
    <link rel="stylesheet" href="./assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/materialdesignicons.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/colors/default.css" id="colorswitch">
</head>

<body>

    <div class="wrapper">

        <!-- Start header -->
        <header class="main-header">
            <!-- Start ads -->
            <div class="ads-header-wrapper">
                <a href="#" class="ads-header hidden-sm" target="_blank"
                    style="background-image: url(../assets/img/banner/large-ads.jpg)"></a>
            </div>
            <!-- End ads -->
            <!-- Start topbar -->
            <div class="container main-container">
                <div class="topbar dt-sl">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="logo-area">
                                <a href="/home/index">
                                    @if(menu.logo != null)
                                    {
                                        <img style="width: 200px; height: 80;" src="~/fileupload/@menu.logo" alt="">
                                    }
                                    else
                                    {
                                        <img src="../app-assets/images/icons/defaultlogo.png" alt="محل لوگوی شما" >
                                    }
                                </a>
                            </div>
                        </div>

                       @* <div style="margin-top: 10px;" class="col-lg-2 col-md-3 col-4">
                            <div class="logo-area float-right">
                                <a href="/home/index">
                               
     @if(menu.logo != null)
            {
            <img  style="width:200px; height: 80px;" src="/fileupload/@menu.logo" alt="محل لوگوی شما" >
            }
            else
            {
            <img src="/app-assets/images/icons/defaultlogo.png" alt="محل لوگوی شما" >
            }

                                </a>
                            </div>
                        </div> *@


   @* ///search////////////////////////////////////////////// *@
                        <div class="col-lg-6 col-md-5 hidden-sm">
                            <div class="search-area dt-sl">
                                <form action="" class="search">
                                    <input autocomplete="off" style="border-radius: 10px; background-color: #dbdbf1;"  type="text" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…" id="myInput">
                                  <a onclick="send();"> <i class="far fa-search search-icon" style="background-color: #dbdbf1;"></i></a>
                                    <button  class="close-search-result"  type="button"><i  class="mdi mdi-close"></i></button>
                                </form>
                                    <script>
                                        function send()
                                        {
                                            window.location.href="/home/search?myInput="+document.getElementById('myInput').value;
                                        }
                                    </script>        
                            </div>
                        </div>
@* ///////////////////////////////////////////////end search *@



                        <div class="col-md-4 col-6 topbar-left">
                            <ul class="nav float-left">
                                @if (User.Identity.IsAuthenticated )
                                    {
                                        <li style="background-color: #dbdbf1;" class="nav-item account dropdown">
                                             <a  class="nav-link" href="/profile/index">
                                                 <span  class="label-dropdown"> پروفایل من</span>
                                                 <i class="mdi mdi-account-circle-outline"></i>
                                             </a>
                                            @* <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                                                 <a class="dropdown-item" href="">
                                                     <i class="mdi mdi-account-edit-outline"></i>تکمیل حساب کاربری
                                                 </a>
                                                 <a class="dropdown-item" href="#">
                                                     <span class="float-left badge badge-dark">۴</span>
                                                     <i class="mdi mdi-comment-text-outline"></i>پیغام ها
                                                 </a>
                                                 <div class="dropdown-divider" role="presentation"></div>
                                                 <a class="dropdown-item" href="/home/exit">
                                                     <i class="mdi mdi-logout-variant"></i>خروج
                                                 </a>
                                             </div> 
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                                            *@
                                        </li>
                                         
                                     }else
                                     {
                                        <li style="background-color: #dbdbf1;" class="nav-item account dropdown">
                                             <a  class="nav-link" href="/login/login">
                                                 <span  class="label-dropdown">حساب کاربری</span>
                                                 <i class="mdi mdi-account-circle-outline"></i>
                                             </a>
                                             @* <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                                                 <a class="dropdown-item" href="/login/login">
                                                     <i class="mdi mdi-account-card-details-outline"></i>ورود/ثبت نام
                                                 </a>
                                             </div> 
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                             *@
                                        </li>
                                     }
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End topbar -->

            <!-- Start bottom-header -->
            <div class="bottom-header dt-sl mb-sm-bottom-header">
                <div class="container main-container">
                    <!-- Start Main-Menu -->
                  @await Html.PartialAsync("_Partial_Menu")
                    <!-- End Main-Menu -->
                </div>
            </div>
            <!-- End bottom-header -->
        </header>
        <!-- Start main-content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <div class="row">

                    <!-- Start Sidebar -->
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 sticky-sidebar">
                        <div class="profile-sidebar dt-sl">
                            <div class="dt-sl dt-sn mb-3">
                                <div class="profile-sidebar-header dt-sl">
                                    <div class="d-flex align-items-center">
                                        <div class="profile-avatar">
                                            @{
                                                if ( (@HttpContextAccessor.HttpContext.Session.GetString("photo")) != null)
                                                {
                                                    var img = @HttpContextAccessor.HttpContext.Session.GetString("photo");
                                                    <img src="~/fileupload/@img" alt="">
                                                }
                                                else
                                                {
                                                    <img src="~/assets/img/theme/avatar.png" alt="">
                                                }
                                            }
                                        </div>
                                        <div class="profile-header-content mr-3 mt-2">
                                            <span class="d-block profile-username"> @HttpContextAccessor.HttpContext.Session.GetString("username") </span>
                                            <span class="d-block profile-phone">  @HttpContextAccessor.HttpContext.Session.GetString("phone")   </span>
                                        </div>
                                    </div>
                                    @* <div class="profile-point mt-3 mb-2 dt-sl">
                                        <span class="label-profile-point">امتیاز شما:</span>
                                        <span class="float-left value-profile-point">120</span>
                                    </div> *@
                                    <div class="profile-link mt-2 dt-sl">
                                        <div class="row">
                                            <div class="col-6 text-center">
                                                <a href="#">
                                                    <i class="mdi mdi-lock-reset"></i>
                                                    <span class="d-block">تغییر رمز</span>
                                                </a>
                                            </div>
                                            <div class="col-6 text-center">
                                                <a href="/home/exit">
                                                    <i class="mdi mdi-logout-variant"></i>
                                                    <span class="d-block">خروج از حساب</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dt-sl dt-sn mb-3 text-center">
                                <a href="#">
                                    <img src="~/assets/img/banner/sidebar-banner-3.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            



  @RenderBody();

        <!-- Start footer -->
        <footer class="main-footer dt-sl dir-rtl">
            <div class="back-to-top">
                <a href="#"><span class="icon"><i class="mdi mdi-chevron-up"></i></span> <span>بازگشت به
                        بالا</span></a>
            </div>
            <div class="container main-container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/assets/img/svg/delivery.svg">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/assets/img/svg/contact-us.svg">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/assets/img/svg/payment-terms.svg">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/assets/img/svg/return-policy.svg">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="~/assets/img/svg/origin-guarantee.svg">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">راهنمای خرید از پرنسا</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">نحوه ثبت سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه ارسال سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">شیوه&zwnj;های پرداخت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">پاسخ به پرسش&zwnj;های متداول</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه&zwnj;های بازگرداندن کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a href="#">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">با پرنسا</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">فروش در پرنسا</a>
                                    </li>
                                    <li>
                                        <a href="#">همکاری با سازمان&zwnj;ها</a>
                                    </li>
                                    <li>
                                        <a href="#">فرصت&zwnj;های شغلی</a>
                                    </li>
                                    <li>
                                        <a href="#">تماس با پرنسا</a>
                                    </li>
                                    <li>
                                        <a href="#">درباره پرنسا</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>از تخفیف&zwnj;ها و جدیدترین&zwnj;های فروشگاه باخبر شوید:</p>
                                <form action="">
                                    <input type="email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید...">
                                    <input type="submit" class="btn btn-primary" value="ارسال">
                                </form>
                            </div>


                            <div class="socials">
                                <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                                
                           
                                <div class="footer-social">
                                    <ul class="text-center">
                                        <li><a href="https://www.instagram.com/@menu.Insta"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="https://telegram.org/@menu.Tel"><i class="mdi mdi-telegram"></i></a></li>
                                        <li><a href="https://facebook.com/@menu.Face"><i class="mdi mdi-facebook"></i></a></li>
                                        <li><a href="https://Twitter.com/@menu.Twit"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="https://Whatsapp.com/@menu.Whts">
                                                <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                                    <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                                                </svg>
                                            </a>
                                        </li>
                                        @* <li><a href="https://Aparat.com/@menu.social[0].Aparat"><i class="bi bi-whatsapp"></i></a></li>
                                        <li><a href="https://Youtube.com/@menu.social[0].Youtube"><i class="mdi mdi-youtube"></i></a></li> *@
                                        

                                    </ul>
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-12 text-right">
                            <span>هفت روز هفته ، 24 ساعت شبانه&zwnj;روز پاسخگوی شما هستیم.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container main-container">
                    <div class="row">
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی پرنسا، بررسی، انتخاب و خرید آنلاین</h1>
                            <p>
                                پرنسا به عنوان یکی از قدیمی&zwnj;ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در
                                محل، 7 روز ضمانت بازگشت کالا و تضمین اصل&zwnj;بودن کالا، موفق شده تا همگام با فروشگاه&zwnj;های
                                معتبر جهان، به بزرگ&zwnj;ترین فروشگاه
                                اینترنتی ایران تبدیل شود. به محض ورود به پرنسا با یک سایت پر از کالا رو به رو
                                می&zwnj;شوید! هر آنچه که نیاز دارید و به
                                ذهن شما خطور می&zwnj;کند در اینجا پیدا خواهید کرد.
                            </p>
                        </div>
                        @* <div class="symbol col-12 col-lg-5">
                            <a href="#" target="_blank"><img src="assets/img/symbol-01.png" alt=""></a>
                            <a href="#" target="_blank"><img src="assets/img/symbol-02.png" alt=""></a>
                        </div> *@
                    </div>
                </div>
            </div>
           
            <div class="copyright">
                <div class="container main-container">
                    <hr>
                    <hr>
                        <p>
                            فروشگاه اینترنتی <span>پرنسا</span> 
                        </p>
                </div>
            </div>
        </footer>
        <!-- End footer -->

    </div>

    <!-- Core JS Files -->
    <script src="~/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="~/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/vendor/jquery.horizontalmenu.js"></script>
    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>


</body>
</html>

@* //////////////////////////////script *@

<style>


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}




.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>

<!--Make sure the form has the autocomplete function switched off:-->


<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}


 
var countries =@Html.Raw(JsonConvert.SerializeObject(@menu.find));;
/*An array containing all the country names in the world:*/
/*var countries 


/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);
</script>


 @using Newtonsoft.Json

