
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
    <nav class="main-menu d-flex dt-sl main-menu d-flex  dt-sl">


                @* دسته بندی حالت دسکتاپ  *@
                        @foreach (var item in menu.cat)
                        {

                            if (item.FatherIdCat == 0)
                            {
                                <ul class="list hidden-sm ml-2">
                                    <li class="list-item list-item-has-children mega-menu mega-menu-col-5" >

                                        <a class="nav-link" href="#">@item.NameCat</a>
                                        <ul class="sub-menu nav" >
                                            @foreach (var item1 in menu.cat)
                                            {
                                                if (item1.FatherIdCat == @item.Id)
                                                {
                                                    <li class="list-item list-item-has-children">
                                                        <a class="nav-link" href="/home/searchcat/@item1.Id"> @item1.NameCat</a>
                                                        <ul class="sub-menu nav">
                                                            @foreach (var item2 in menu.cat)
                                                            {
                                                                if (item2.FatherIdCat == item1.Id)
                                                                {
                                                                    <li class="list-item">
                                                                        <a class="nav-link" href="/home/searchcat/@item2.Id"> @item2.NameCat</a>
                                                                    </li>
                                                                }
                                                            }

                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        }
                    

            



                @* سبد خرید *@
            <div class="nav mr-auto">
                <div class="nav-item cart--wrapper">
                    <a class="nav-link" href="#">
                        <span class="label-dropdown">سبد خرید</span>
                        <i class="mdi mdi-cart-outline"></i>
                        <span class="count">@HttpContextAccessor.HttpContext.Session.GetString("count")</span>
                    </a>
                    <div class="header-cart-info">
                        <div class="header-cart-info-header">
                            
                            <a href="/order/index" class="header-cart-info-link">
                                <span>مشاهده سبد خرید</span>
                            </a>
                        </div>
                        <ul class="header-basket-list do-nice-scroll container">
                                @if (ViewBag.list != null)
                                {
                                    @foreach (var item in ViewBag.list)
                                    {
                                        <li class="cart-item">
                                            <a href="#" class="header-basket-list-item">
                                                <div class="header-basket-list-item-image">
                                                    <img src="~/fileupload/@item.ImageMainPro" alt="">
                                                </div>
                                                <div class="header-basket-list-item-content">
                                                    <p class="header-basket-list-item-title">
                                                        @item.TitleProductPro
                                                    </p>
                                                    <div class="header-basket-list-item-footer ">
                                                        <div class="header-basket-list-item-props">
                                                            <span class="header-basket-list-item-props-item">
                                                                تعداد:  @item.count
                                                            </span>
                                                            <span class="header-basket-list-item-props-item">
                                                                قیمت : 
                                                                <span>  @item.PricePro </span>
                                                                @* id="@item.Id"
                                                                <script>
                                                                    document.getElementById("").innerText=document.getElementById("@item.Id").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                </script> *@
                                                            </span>
                                                        </div>
                                                        <a href="/details/del/@item.Id" class="header-basket-list-item-remove">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </a>
                                        </li> 
                                        <hr class="mb-0"><hr class="mt-1">
                                    
                                    }
                                }
                        </ul>
                        @* مبلغ کل *@
                        @if (ViewBag.list != null)
                        {
                            <div class="header-cart-info-footer">
                                <div class="header-cart-info-total">
                                    <span class="header-cart-info-total-text">مبلغ قابل پرداخت:</span>
                                    <p class="header-cart-info-total-amount">
                                        <span class="header-cart-info-total-amount-number ">
                                          <span id="sum1"> @HttpContextAccessor.HttpContext.Session.GetString("sum") </span> <span>تومان</span> 
                                        </span>
                                    </p>
                                </div>
                                <div>
                                    <a href="/order/index" class="header-cart-info-submit">
                                        ثبت سفارش
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>




                @* دکمه های باز شونده حالت گوشی  *@
            <button class="btn-menu">
                <div class="align align__justify">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>



            <div class="side-menu">

                
                @* جستوجو *@
                <div class="logo-nav-res dt-sl text-center">
                    <a href="#">
                        <img src="assets/img/logo.png" alt="">
                    </a>
                </div>
                <div class="search-box-side-menu dt-sl text-center mt-2 mb-3">
                    <form action="">
                        <input type="text" name="s" placeholder="جستجو کنید...">
                        <i class="mdi mdi-magnify"></i>
                    </form>
                </div>

                 @* دسته بندی حالت گوشی *@

                <ul class="navbar-nav dt-sl">
                    <li class="sub-menu">
                        @foreach (var item in menu.cat)
                        {
                            if (item.FatherIdCat == 0)
                            {
                                 <li class="sub-menu">
                                    <a class="nav-link" href="#"> @item.NameCat</a>
                                    <ul class="sub-menu nav">
                                        @foreach (var item1 in menu.cat)
                                        {
                                            if (item1.FatherIdCat == item.Id)
                                            {
                                                <li class="sub-menu">
                                                    <a class="nav-link" href="#"> @item1.NameCat</a>
                                                    <ul class="sub-menu nav">
                                                        @foreach (var item2 in menu.cat)
                                                        {
                                                            if (item2.FatherIdCat == item1.Id)
                                                            {
                                                                <li class="list-item">
                                                                    <a class="nav-link" href="#"> @item2.NameCat</a>
                                                                </li>
                                                            }

                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            } 
                        }
                    <ul class="sub-menu nav">
                        @foreach (var item in menu.cat)
                        {
                            if (item.FatherIdCat == 0)
                            {
                                 <li class="sub-menu">
                                    <a class="nav-link" href="#"> @item.NameCat</a>
                                    <ul class="sub-menu nav">
                                        @foreach (var item1 in menu.cat)
                                        {
                                            if (item1.FatherIdCat == item.Id)
                                            {
                                                <li class="list-item">
                                                    <a class="nav-link" href="#"> @item1.NameCat</a>
                                                </li>
                                             
                                            }
                                        }

                                    </ul>
                                </li>
                            } 
                        }
                    </ul>
                </ul>

            </div>

            <div class="overlay-side-menu">
            </div>




    </nav>



        <!-- End Main-Menu -->
   